*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #6100FF;
    padding: 10px 30px;
    color: white;
    font-size: .9em;
}

main {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 90vh;
    align-items: center;
    justify-content: space-evenly;
}



.card {
    min-width: 360px;
    min-height: 600px;
    max-width: 400px;
    width: 25vw;
    height: 50vh;
    
    border-radius: 15px;
    background-color: #270D53;
    
}



.img {
    height: 50%;
    background-image: url(../img/car.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.description {
    height: 50%;
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5em;
    color: white;
    overflow: hidden;
}

.description > span{
    font-weight: 600;
}
#bold {
    font-weight: 1000;
}
.tickets {
    position: relative;
    color: black;
    width: 35vw;
    height: 50vh;
    min-width: 300px;
    min-height: 600px;    
    margin: 0;   
    
}

.grid-container{
    width: 100%;
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    overflow-y: auto;
    padding: 2px 2px;
    
}

.grid-item {
    width: 25px;
    height: 25px;
    border: solid 1px #6100FF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 1px;
    color: #270D53;
    font-weight: 900;
    cursor: pointer;
    overflow: hidden;

}

.active{
    outline: solid 1px #270D53;
    background-color:rgb(97,0,255,0.3);
}

.grid-item:hover {
    background-color:rgb(97,0,255,0.1);
    
}

.no_available {
    color: transparent;
    background-color: #6100FF;
}

.no_available:hover {
    animation: shake 0.5s;
    background-color: #6100FF;
    /* When the animation is finished, start again */
    animation-iteration-count: 1;
    
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }



.bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: absolute;
    bottom: 0px;
    justify-content: space-evenly;
}
.bottom1{
    display: flex;
    align-items: center;
    gap: 5px;
}
.square {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.no__available{
    width: 20px;
    height: 20px;
    background-color:#6100FF;
}

.available {
    width: 20px;
    height: 20px;
    border: solid 2px black;
    
}

.select {
    width: 20px;
    height: 20px;
    border: solid 3px #6100FF;
    background-color:rgb(97,0,255,0.3);
}

.monto {
    width: 360px;
    min-height: 600px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.count{
    min-height: 400px;
    height: 25vh;
    justify-content: space-between;
}

.countdiv {
    height: 20vh; 
    min-height:350px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    
}

.count1 {
    display: flex;
    justify-content: space-between;
}

.conditions{
    display: flex;
    align-items: center;
    gap: 10px;
}
.conditions div {
    
    text-align: justify;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.btn {
    background-color: #6100FF;
    color: white;
    border: none;
    width: 45%;
    padding: 15px 10px;
    border-radius: 500px;
    font-size: 1.4em;
}

.btn:hover {
    background-color: rgb(97,0,255,0.8);
    color: black;
    cursor: pointer;
}



/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(97,0,255,0.1);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(97,0,255,0.5);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(97,0,255);
    border-radius: 5px;
}

@media only screen and (max-width: 1180px) {
    main{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }
    .grid-container {
        max-height: 420px;
    }
  }